
<div class="col-sm-6">


    <a href="sedes/new" class="btn btn-success" style=" margin-bottom: 10px; "><i class="icon-eye-open"></i> Crea tu Sede </a>

    <section class="panel">
        <header class="panel-heading">
            Sedes
        </header>
        <table class="table">
            <thead>
            <tr>
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Fecha creacion</th>
              <th>Estado creacion</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
                <% @sedes.each do |sede| %>
                  
                  <tr>
                    <td><%= sede.codigo %></td>
                    <td><%= sede.descripcion %></td>
                    <td><%= sede.fecha_creacion %></td>
                    <td><%= sede.estado %></td>
                    <td><%= link_to 'Ver', sede , :class => 'btn btn-success btn-xs' %></td>
                    <td><%= link_to 'Editar', edit_sede_path(sede), :class => 'btn btn-primary btn-xs' %></td>
                    <td><%= link_to 'Eliminar', sede, method: :delete, data: { confirm: '¿Estas seguro?' }, :class => 'btn btn-danger btn-xs'  %></td>
                  </tr>
                <% end %>

          </tbody>

        </table>
    </section>


</div>

